ion-img
{
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    float: left;
}

ion-item
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    
}