<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ion Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="cog" slot="start"></ion-icon>
      <ion-label>rock classico</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>heavy metal</ion-label>
    </ion-item>
  
    <ion-item class="activated">
      <ion-icon name="nuclear" slot="start"></ion-icon>
      <ion-label>thrash metal</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>hard rock</ion-label>
    </ion-item>
  </ion-card>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/-tJYN-eG1zk" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

 <ion-button expand="block" href="principaisbandas" >Principais Bandas</ion-button>

</ion-content>
