<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <h1>
    rock classico
  </h1>

  <ion-img src="../assets/imagens/rock.jpg">
  </ion-img>

  <p>
    O rock 'n' roll é um gênero musical que teve 
    origem nos Estados Unidos (EUA) a partir dos 
    anos 1950, popularizando-se por todo o mundo
  </p>

  <p class="botao">
    Clique aqui para mais informações
  </p>

</ion-content>
